@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;900&display=swap");

.contact-hero-sec {
  /* background-color: #fafdff; */
  background-color: transparent;
}

.contact-hero-sec .section__container {
  width: 100% !important;
  overflow: hidden;
}

#aboutUsPageHeader {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: start;
}

.contact-hero-sec .aboutuspage__header__content img {
  left: 69%;
  width: 28%;
}

.contact-hero-sec .aboutuspage__header__hero {
  /* max-width: calc(50% - 80px);
  min-width: calc(50% - 80px);
  padding: 0 40px; */

  max-width: calc(50% - 0px);
  min-width: calc(50% - 0px);
  padding: 0 0px;
  height: 100vh;
  background-image: url("../../assets/images/contact-us/contact-banner.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.contact-hero-sec .aboutuspage__header__content {
  /* max-width: calc(50% - 80px);
  min-width: calc(50% - 80px);
  height: 100%;
  padding: 0 20px 0 60px; */

  max-width: calc(50% - 0px);
  min-width: calc(50% - 0px);
  height: 100vh;
  padding: 0px 0px 0px 0px;
  background: #f8f9fa;
}

.contact-hero-para {
  color: #000;
  padding-top: 1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  letter-spacing: 0.2px !important;
}

.form-section {
  padding-bottom: 10rem;
}

.contact-form-inner-sec {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  width: 84%;
  margin: 0 auto;
  gap: 0.5rem;
  padding-bottom: 10rem;
}

.text-container-para {
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #000;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.1;
  background: linear-gradient(
    90deg,
    rgba(54, 128, 247, 1) 0%,
    rgba(240, 173, 71, 1) 25%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.para-span-sec {
  padding-bottom: 2rem;
}

.para-span-sec span {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  color: #000;
  font-size: 30px;
  font-weight: 600;
  background: linear-gradient(
    90deg,
    rgba(54, 128, 247, 1) 0%,
    rgba(240, 173, 71, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 1;
}

.mail-number-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  padding-top: 4.5rem;
}

.email-sec {
  border-right: 0.5px solid rgba(128, 128, 128, 0.37);
}

.email-para-text {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.mail-address-txt {
  padding-top: 2rem;
}

.mail-address-txt p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.mail-address-txt {
  /* color: rgba(0, 0, 255, 0.849); */
  color: #3680f7;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.united-std {
  color: rgba(128, 128, 128, 0.802) !important;
}

.need-help-head {
  font-family: "Poppins", sans-serif;
  color: #000;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.1;
  margin-bottom: 1rem;
}

.need-help-sec {
  padding-top: 6rem;
}

.three-help-sec {
  display: grid;
  grid-template-columns: 1fr 0.8fr 0.8fr;
  gap: 0.5rem;
}

.help-inner-sec {
  background-color: rgb(248, 249, 250);
  padding: 2rem 0.8rem;
  text-align: center;
  border-bottom: 4px solid;
  border-image: linear-gradient(
    90deg,
    rgba(54, 128, 247, 1) 0%,
    rgba(240, 173, 71, 1) 100%
  );
  border-image-slice: 1;
}

.help-inner-sec:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.help-inner-sec i {
  font-size: 3rem;
  padding-bottom: 1.5rem;
  background: -webkit-linear-gradient(
    0deg,
    rgba(54, 128, 247, 1) 0%,
    rgba(240, 173, 71, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.book-consultation {
  font-family: "Poppins", sans-serif;
  color: #000;
  font-weight: 600;
  line-height: 1;
  font-size: 15px;
  text-transform: uppercase;
}

.form-container {
  background-color: rgb(248, 249, 250);
}

.form-container-inner-sec {
  padding: 3rem 2.5rem 1rem 2.5rem;
}

.name-email-phone-sec {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: start;
  gap: 0rem 2.5rem;
}

.first-name-sec {
  padding-bottom: 1.5rem;
}

.first-name-sec input {
  border: none;
  background-color: transparent;
  border-bottom: 1.5px solid rgba(128, 128, 128, 0.37);
  padding-bottom: 8px;
  padding-right: 5px;
  width: 100%;
}

.first-name-sec input:focus-visible {
  outline: none;
}

.first-name-sec input::placeholder {
  font-size: 15px;
  font-family: "Poppins", sans-serif;
}

.first-name-sec input:hover {
  border-image: linear-gradient(
    90deg,
    rgba(54, 128, 247, 1) 0%,
    rgba(240, 173, 71, 1) 100%
  );
  border-image-slice: 1;
}

.full-width-input input {
  border: none;
  background-color: transparent;
  border-bottom: 1.5px solid rgba(128, 128, 128, 0.37);
  padding-bottom: 8px;
  padding-right: 5px;
  width: 100%;
}

.full-width-input input:focus-visible {
  outline: none;
}

.full-width-input input::placeholder {
  font-size: 15px;
  font-family: "Poppins", sans-serif;
}

.full-width-input input:hover {
  border-image: linear-gradient(
    90deg,
    rgba(54, 128, 247, 1) 0%,
    rgba(240, 173, 71, 1) 100%
  );
  border-image-slice: 1;
}

.full-width-input {
  text-align: start;
}

.need-help-with-spn {
  font-size: 15px;
  color: rgba(118, 118, 118);
  font-family: "Poppins", sans-serif;
  text-align: start;

  padding: 0.8rem 0;
  padding-bottom: 1.2rem;
}

.input-dropdown-sec {
  text-align: start;
  /* width: 76%; */
  padding-bottom: 1.5rem;
}

.input-dropdown-sec select {
  border: none;
  background-color: transparent;
  border-bottom: 1.5px solid rgba(128, 128, 128, 0.37);
  padding-bottom: 8px;
}

.input-dropdown-sec select:focus-visible {
  outline: none;
}

.input-dropdown-sec select:first-child {
  font-family: "Poppins", sans-serif;
  color: rgba(118, 118, 118);
  font-size: 15px;
  width: 102%;
}

.input-dropdown-sec select:hover {
  border-image: linear-gradient(
    90deg,
    rgba(54, 128, 247, 1) 0%,
    rgba(240, 173, 71, 1) 100%
  );
  border-image-slice: 1;
  cursor: pointer;
}

.message-txtarea {
  margin: auto;
  padding-bottom: 1rem;
}

.message-txtarea p {
  padding-bottom: 2rem;
  font-family: "Poppins", sans-serif;
  color: rgba(118, 118, 118);
  font-size: 15px;
  cursor: pointer;
}

.message-txtarea textarea {
  width: 100%;
  border: none;
  background-color: transparent;
  border-bottom: 1.5px solid rgba(128, 128, 128, 0.37);
  padding-bottom: 8px;
}

.message-txtarea textarea:focus-visible {
  outline: none;
}

.message-txtarea textarea::placeholder {
  font-size: 15px;
  font-family: "Poppins", sans-serif;
}

.message-txtarea textarea:hover {
  border-image: linear-gradient(
    90deg,
    rgba(54, 128, 247, 1) 0%,
    rgba(240, 173, 71, 1) 100%
  );
  border-image-slice: 1;
}

.form-container {
  border-bottom: 4px solid;
  border-image: linear-gradient(
    90deg,
    rgba(54, 128, 247, 1) 0%,
    rgba(240, 173, 71, 1) 100%
  );
  border-image-slice: 1;
}

.terms-condition-para {
  font-size: 11px;
  font-family: "Poppins", sans-serif;
  text-align: justify;
  line-height: 1.3;
  color: rgb(0 0 0 / 78%);
}

.terms-condition-sec {
  margin: auto;
}

.checkbox-sec label {
  font-size: 11px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.checkbox-sec {
  padding-top: 1rem;
  display: flex;
  align-items: center;
  gap: 10px;
  padding-bottom: 1rem;
}

.submit-button-sec button {
  border: none;
  background-color: transparent;
  color: #3680f7;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  margin-top: 12px !important;
  padding: 0;
  display: flex;
  align-items: center;
  margin-top: 0;
  gap: 1.5rem;
}

.submit-button-sec button:hover {
  color: #3680f7;
}

.submit-button-sec {
  display: flex;
  align-items: center;

  cursor: pointer;
  gap: 1rem;
  position: relative;
  left: 1rem;
}

/* Button animation */

.circle {
  position: relative;
  height: 18px;
  width: 18px;
  border-radius: 50%;
}

.circle:before {
  position: absolute;
  content: "\f105";
  font-family: FontAwesome;
  height: calc(100% + 10px);
  width: calc(100% + 10px);
  border: 2px solid #3680f7;

  top: -50%;
  left: 17%;
  border-radius: inherit;
  animation: spin 10s linear infinite;
}

.expend-icon {
  color: #212121;
  font-size: 16px;
}

@keyframes spin {
  100% {
    transform: rotateZ(360deg);
  }
}
/* Button animation */

.contact-address-sec {
  padding-bottom: 5rem;
  width: 84%;
  margin: auto;
}

.globle-map-sec {
  width: 100%;
  display: grid;
  grid-template-columns: 0.8fr 1fr;
}

.location-address {
  background-color: rgb(248, 249, 250);
}

.globel-loca-head {
  margin: auto;
  width: 66%;
  padding: 3rem 0;
}

.address-accordion-sc {
  width: 63%;
  margin: auto;
}

.globel-location-spn {
  padding-bottom: 0 !important;
}

.address-acc {
  font-family: "Poppins", sans-serif !important;
}

.philippines-txt {
  font-family: "Poppins", sans-serif !important;
  font-size: 17px;
  font-weight: 500;
  padding: 0;
  text-align: start;
}

.loaction-map-sec img {
  width: 70%;
}

.contact-privacy {
  text-decoration: none;
  padding-left: 3px;
  font-weight: 600;
}

.newsletter-inner-sec {
  background-color: rgb(248, 249, 250);
  padding: 2rem 2rem;
  margin: auto;
  width: 70%;
}

.newsletter-inner-sec {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.news-latter-head-container p {
  font-family: "Poppins", sans-serif;
  color: #000;
  font-size: 24px;
  font-weight: 600;
}

.news-latter-btn-container {
  margin: auto 0;
  text-align: end;
}

.news-latter-btn-container button {
  border: none;
  background-color: transparent;
  border-bottom: 1.5px solid rgba(128, 128, 128, 0.37);
  font-family: "Poppins", sans-serif;
  color: #00000082;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.1;
}

.news-latter-btn-container button:hover {
  border-image: linear-gradient(
    90deg,
    rgba(54, 128, 247, 1) 0%,
    rgba(240, 173, 71, 1) 100%
  );
  border-image-slice: 1;
  background: linear-gradient(
    90deg,
    rgba(54, 128, 247, 1) 0%,
    rgba(240, 173, 71, 1) 100%
  );
  -webkit-background-clip: text;
  cursor: pointer;
}

.news-latter-btn-container i {
  padding-left: 5px;
}

.google-support-lnk {
  text-decoration: none;
}

.contact-icon-container {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  padding: 1rem 0;
}

.contact-icon-container i {
  color: rgb(192, 161, 117);
}

.contact-icon-container i:hover {
  color: #3680f7;
}

.company-image-container {
  background-image: url(../../assets/images/contact-us/philippines.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 250px;
  width: 100%;
}
.india-company {
  background-image: url(../../assets/images/contact-us/india.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 250px;
  width: 100%;
}
.us-company {
  background-image: url(../../assets/images/contact-us/us.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 250px;
  width: 100%;
}

.address-map-container {
  display: grid;
  grid-template-columns: 45% 55%;
  background-color: rgb(248, 249, 250);
  width: 100%;
  grid-gap: 4rem;
  gap: 0rem;
}

.tab-heading {
  text-transform: capitalize !important;
  max-width: 66% !important;
  min-width: 50% !important;
  padding: 0px 0px !important;
  border-bottom: 1.5px solid rgba(128, 128, 128, 0.37) !important;
}

.tab-heading:hover {
  border-image: linear-gradient(
    90deg,
    rgba(54, 128, 247, 1) 0%,
    rgba(240, 173, 71, 1) 100%
  );
  border-image-slice: 1;
}

.contact-us-title {
  letter-spacing: 1px;
  font-weight: 400;
  display: inline-block;
  color: #000;
}

/* animated button */

footer {
  position: fixed;
  bottom: 20px;
  font-family: Arial, Helvetica;
  font-size: 12px;
  color: #fff;
}

footer img {
  margin-left: 20px;
}
footer span {
  position: relative;
  bottom: 4px;
}

.center-con {
  display: flex;
  align-items: center;
  justify-content: center;
}

.round {
  position: absolute;
  border: 2px solid #3680f7;
  animation: spin 10s linear infinite;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  cursor: pointer;
}

#cta {
  width: 100%;
  cursor: pointer;
  position: absolute;
}

#cta .arrow {
  position: absolute;
  left: 49%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.error-msg {
  color: red;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.msgAppear p {
  color: green;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
.arrow {
  position: absolute;
  bottom: 0;
  margin-left: 0px;

  background-size: contain;
  top: 15px;
}
.segunda {
  margin-left: 8px;
}
.next::before {
  position: absolute;
  content: "\f105";
  font-family: FontAwesome;
  top: 50%;
  left: 50%;
  color: #f0ad47;
  transform: translate(-50%, -50%);
}

@keyframes bounceAlpha {
  0% {
    opacity: 1;
    transform: translateX(0px) scale(1);
  }
  25% {
    opacity: 0;
    transform: translateX(10px) scale(0.9);
  }
  26% {
    opacity: 0;
    transform: translateX(-10px) scale(0.9);
  }
  55% {
    opacity: 1;
    transform: translateX(0px) scale(1);
  }
}

.bounceAlpha {
  animation-name: bounceAlpha;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.arrow.primera.bounceAlpha {
  animation-name: bounceAlpha;
  animation-duration: 1.4s;
  animation-delay: 0.2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.center-con:hover .arrow {
  animation-name: bounceAlpha;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.center-con:hover .round {
  border-color: #f0ad47;
  transition: 0.5s;
  transition-delay: 0.1s;
}

@media screen and (max-width: 1024px) {
  .mail-number-container {
    gap: 1.5rem;
  }
  .first-name-sec {
    padding-bottom: 1.4rem;
  }

  .input-dropdown-sec {
    text-align: start;

    padding-bottom: 1.2rem;
  }
}

@media screen and (max-width: 768px) {
  .contact-form-inner-sec {
    display: grid;
    grid-template-columns: 50% 50%;
    position: relative;
    width: 94%;
    margin: 0 auto;
    grid-gap: 0.5rem;
    gap: 0.5rem;
  }
  .need-help-sec {
    padding-top: 9rem;
  }

  .section__container {
    width: 94%;
  }

  .mail-number-container {
    gap: 0;
  }

  .email-sec {
    border-right: 0.5px solid rgba(128, 128, 128, 0.37);
    padding-right: 0.5rem;
  }
  .phone-sec {
    padding-left: 0.5rem;
  }

  nav .brand__icon img {
    position: relative;
    object-fit: cover;
    width: 100%;
    height: auto;
  }

  .address-accordion-sc {
    width: 87%;
    margin: auto;
  }

  .globel-loca-head {
    margin: auto;
    width: 87%;
    padding: 3rem 0;
  }

  .newsletter-inner-sec {
    width: 87%;
  }

  .newsletter-inner-sec {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  .tab-heading {
    text-transform: capitalize !important;
    max-width: 87% !important;
    min-width: 50% !important;
    padding: 0px 0px !important;
    border-bottom: 1.5px solid rgba(128, 128, 128, 0.37) !important;
  }
}
@media screen and (max-width: 480px) {
  .address-map-container {
    display: grid;
    grid-template-columns: 100%;
    background-color: rgb(248, 249, 250);
    width: 100%;
  }

  .help-inner-sec {
    padding: 2rem 0.2rem;
  }

  .book-consultation {
    font-size: 13px;
  }

  .tab-data {
    padding-left: 1rem;
  }
  .contact-hero-sec {
    height: 50vh !important;
    padding-top: 2rem;
  }

  .contact-hero-sec .aboutuspage__header__hero {
    max-width: 100%;
    min-width: 100%;
    padding: 0 0px;
  }

  .contact-hero-sec .aboutuspage__header__content {
    max-width: 100%;
    min-width: 85%;
    height: 100%;
    padding: 40px 20px 30px 0px;
  }

  .contact-hero-sec .aboutuspage__header__hero {
    height: 40vh;
  }

  .contact-hero-sec .aboutuspage__header__content img {
    display: none;
  }
  .contact-hero-para {
    color: #000;
    padding-top: 0.5rem;
  }

  .contact-form-inner-sec {
    display: flex;

    position: relative;
    width: 90%;
    margin: 0 auto;
    grid-gap: 0.5rem;
    gap: 0.5rem;
    flex-direction: column;
  }

  .globle-map-sec {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .globel-loca-head {
    margin: auto;
    width: 84%;
    padding: 3rem 0;
  }

  .address-accordion-sc {
    width: 83%;
    margin: auto;
  }

  .contact-address-sec {
    padding: 3rem 0;
  }

  .newsletter-inner-sec {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .news-latter-btn-container button {
    text-align: start;
  }

  .nav .brand__icon {
    left: 15px !important;
  }

  .mail-number-container {
    gap: 0;
  }

  .email-sec {
    border-right: 0.5px solid rgba(128, 128, 128, 0.37);
    padding-right: 8px;
  }

  .phone-sec {
    padding-left: 8px;
  }
  .form-container-inner-sec {
    padding: 3rem 1.5rem 1rem 1.5rem;
  }
  .input-dropdown-sec select:first-child {
    font-family: "Poppins", sans-serif;
    color: rgba(118, 118, 118);
    font-size: 15px;
    width: 102%;
  }
  .three-help-sec {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-gap: 0.5rem;
    gap: 0.5rem;
  }
  .text-container-para {
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    color: #000;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.1;
  }
  .para-span-sec span {
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    color: #000;
    font-size: 20px;
    font-weight: 600;
  }
  .need-help-head {
    font-family: "Poppins", sans-serif;
    color: #000;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.1;
    margin-bottom: 1rem;
  }
  .news-latter-head-container p {
    font-family: "Poppins", sans-serif;
    color: #000;
    font-size: 18px;
    font-weight: 600;
  }
  .news-latter-btn-container button {
    background-color: transparent;
    border: none;
    border-bottom: 1.5pxsolidhsla (0, 0%, 50.2%, 0.37);
    font-family: "Poppins", sans-serif;
    color: rgba(0, 0, 0, 0.5098039215686274);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.1;
  }
  .news-latter-btn-container {
    margin: auto 0;
    text-align: start;
  }
}
